---
import Upload from "../upload.astro";
import GalleryItem from "./gallery_item.astro";

const { block } = Astro.props;
---

<div class="max-w-screen-2xl gap-0 grid grid-cols-1 md:grid-cols-2 m-auto">
    {
        [
            block.images.slice(0, Math.floor(block.images.length / 2)),
            block.images.slice(Math.floor(block.images.length / 2)),
        ].map((sub_album) => (
            <div class="flex flex-col">
                {sub_album.map((upload) => (
                    <GalleryItem upload={upload.images} />
                ))}
            </div>
        ))
    }
</div>
