---
import { Picture } from "astro:assets";
import { getCachedImage } from "../image_cache";

const { node, css_class = "" } = Astro.props;

const url = await getCachedImage(node.value);

const images = await import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/*.{webp,jpeg,jpg,png,gif}",
);
---

<div class={css_class + " block relative overflow-hidden"}>
    <Picture
        src={images[url]()}
        class="opacity-0 transition-opacity duration-100 ease-out"
        onload="this.style.opacity = 1"
        widths={[360, 540, 720, 1200, 1600, node.value.width]}
        sizes={`(max-width: 360px) 360px, (max-width: 540px) 540px, (max-width: 720px) 720px, (max-width: 1200px) 1200px, (max-width: 1600px) 1600px, ${node.value.width}px`}
        inferSize
        alt={node.value.alt || ""}
    />
</div>
